.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
build
*.egg-info
dist

sample_data/voxceleb1_test
sample_data/vc_5.mp4
sample_data/*nmf*
tests/test_output/*.mp4
tests/test_output/*.mp3
tests/test_output/*.wav

asset/backup/docker-compose.dev.yml
tmp_firebase_service_account.json
tmp

sample_data_private
random/unused

asset/backup

