.DS_Store
__pycache__/
*.ipynb_checkpoints
nohup.out
.python-version
*.pyc
.idea
build
*.egg-info
dist

sample_data/voxceleb1_test
sample_data_private
docker-compose.dev.yml
config.sh
sample_request.sh

sample_files/*_edit*
random/unused